section.section1{display:none;font-family: sans-serif;background-color:#e6ffb3;text-align:center; position: static; width:600px; height:auto }
section.section2 {display:none;font-family: sans-serif;background-color:#e6ffb3;text-align:center; position: static; width:600px; height:auto }
section.section3 {display:none;font-family: sans-serif;background-color:#e6ffb3;text-align:center; position: static; width:600px; height:auto }
section.section4 {display:none;font-family: sans-serif;background-color:#e6ffb3;text-align:center; position: static; width:600px; height:auto }
section.section5 {display:none;font-family: sans-serif;background-color:#e6ffb3;text-align:center; position: static; width:600px; height:auto }
